form.basic-otp-form button {
  border-radius: 8px;
  height: 42px;
  width: 82px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(16, 80, 242);
  margin: 20px 0px;
}

html[data-theme="light"] form.basic-otp-form button {
    color: white;
}

.otp input {
    height: 42px;
    width: 42px;
    margin: 0px 5px;
    text-align: center;
    font-size: 20px;
}